@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-primary: #0A001B;
    --color-emphasis: #111827;
    --color-bg_btn: #1E40AF;
    --color-hover_btn: #1E3A8A;
    --color-shadow_btn: #60A5FA;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    background-color: var(--color-primary);
}
header {
    background-color: var(--color-emphasis);
    padding-block: 20px;
    position: fixed;
    width: 100%;
    z-index: 1000;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    margin-inline: auto;
}
.btn-navbar {
    background-color: transparent;
    display: none;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 1.8rem;
    outline: none;
}
.navbar-nav {
    display: flex;
    gap: 100px;
}
.navbar-nav a {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.navbar-nav a:hover {
    color: #9CA3AF;
}

/*home - config container*/
section#home {
    position: relative;
}
.container-home {
    display: grid;
    align-items: center;
    grid-template-columns: 1.2fr 1fr;
    height: 100vh;
    width: 90%;
    margin-inline: auto;
}
/*home - home content*/
.home-content {
    display: flex;
    flex-direction: column;
    color: #fff;
}
.title-home {
    font-size: 5.5rem;
    font-weight: 500;
}
.descriptin-home {
    font-size: 1rem;
    font-weight: 300;
    margin-top: -25px;
    margin-bottom: 15px;
}
.presentation-home {
    font-weight: 300;
    font-size: 1rem;
}
.list-home {
    margin-block: 5px;
}
.btn-home {
    align-self: flex-start;
    background-color: var(--color-bg_btn);
    border-radius: 5px;
    color: #fff;
    padding: 10px;
    margin-top: 7px;
    transition: background-color .3s ease-in-out, box-shadow .5s ease-in-out;
}
.btn-home:hover {
    background-color: var(--color-hover_btn);
    box-shadow: 0 0 8px 0px #60A5FA;
}
.box-img {
    display: flex;
    justify-content: center;  
}
.img-home {
    width: 100%;
    mask-image: radial-gradient(circle, rgb(0, 0, 0) 50%, rgba(0, 0, 0, 0) 66%);
}

.icon-home {
    animation: float 3s ease-in-out infinite;
    color: #3B82F6;
    border: 2px solid #3B82F6;
    border-radius: 50px;
    font-size: 1.3rem;
    height: 40px;
    width: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    left: 50%;
    bottom: 20px;
}
.icon-home:hover {
    border: 2px solid var(--color-hover_btn);
    color: var(--color-hover_btn);
}

#project {
    height: 100vh;
    background-color: var(--color-emphasis);
}


/* Aniamtion */

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }
}